* {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

body {
  background-color: #0e0e0e;
}

div.main-container {
  background-image: url("../img/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
}

/**************************************
* Aside (foto, nombre y frase usuario)
***************************************/

.aside__usuario {
  margin: auto 0;
  flex-basis: 15%;
}

.aside__usuario>.figure__usuario {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0px 20px 20px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2vw 0;
}

.aside__usuario>.figure__usuario>.img__usuario {
  max-width: 50%;
}

.aside__usuario>.figure__usuario>figcaption {
  text-align: center;
  max-width: 80%;
}

.aside__usuario>.figure__usuario>figcaption>.p__nombre_usuario {
  font-size: calc(0.6rem + 0.6vw);
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.aside__usuario .p__frase_usuario {
  font-size: calc(0.6rem + 0.2vw);
}

/****************************************
  main (foto y datos coche seleccionado)
*****************************************/

.div__content {
  flex-basis: 55%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img__coche_seleccionado {
  border-radius: 10px;
  opacity: 50%;
}

/******************************
  Datos del coche seleccionado
*******************************/

.section__datos_coche {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 10px 10px;

  display: flex;
  justify-content: space-between;

  text-align: center;

  font-size: calc(0.6rem + 1.3vw);
  font-weight: bold;

  padding: 1vw 2vw;
}

.section__marca {
  display: flex;
  flex-direction: column;
}

.etiqueta {
  font-weight: 500;
  font-size: calc(0.6rem + 0.5vw);
}

/********
* Footer
*********/

.footer__selector_coches {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}

.footer__selector_coches .img__miniatura_coche {
  border-radius: 5px;
  max-width: 25%;
  margin: 0 1vw;
}

@media (max-width: 768px) {

  div.main-container {
    flex-direction: column;
    justify-content: center;
  }

  .aside__usuario {
    margin: 0;
  }

  .aside__usuario>.figure__usuario {
    border-radius: 0;
  }

  .aside__usuario>.figure__usuario>.img__usuario {
    max-width: 15%;
  }

  .div__content {
    flex-basis: 0;
  }

  .img__coche_seleccionado,
  .section__datos_coche {
    border-radius: 0;
  }

}