html {
  font-size: 16px;
}

* {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

body {
  background-color: #0e0e0e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-image: url("../img/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  max-width: 1400px;

  display: flex;
}

.user-data {
  margin: auto 0;
  flex-basis: 20%;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0px 20px 20px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem 1rem;
}

.user-data__image {
  width: 5rem;
}

.user-data__name {
  font-size: 1rem;
  padding: 0.5rem 0;
}

.user-data__message {
  font-size: 0.8rem;
}


.car {
  flex-basis: 70%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selected-car {
  border-radius: 10px 10px 0 0;
  opacity: 50%;
}


.car-info {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 10px 10px;

  display: flex;
  justify-content: space-between;

  text-align: center;

  padding: 1% 2%;
}

.car-data {
  display: flex;
  flex-direction: column;
}

.car-data__tag {
  font-size: calc(0.6rem + 1.3vw);
  font-weight: bold;
}

.car-data__value {
  font-weight: 500;
  font-size: calc(0.6rem + 0.5vw);
}


.car-selector {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}

.car-selector__thumbnail {
  border-radius: 5px 5px 0 0;
  margin: 0;
  max-width: 30%;
}


@media (max-width: 768px) {

  .main-container {
    flex-direction: column;
    justify-content: center;
  }

  .user-data {
    border-radius: 0;
    margin: 0;
  }

  .user-data__image {
    width: 15%;
  }

  .car {
    flex-basis: 0;
  }

  .selected-car__image,
  .car-info {
    border-radius: 0;
  }

  .car-selector__thumbnail:first-child {
    border-radius: 0 5px 0 0;
  }

  .car-selector__thumbnail:last-child {
    border-radius: 5px 0 0 0;
  }

}